<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                <h1>Create New Location</h1>
                </div>
            </div>
        </div>
    </div>
    </header>
    
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="/location/store/<%= stateName %>/<%= stateId %>/" method="POST" encType="multipart/form-data">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Username</label>
                            <input type="text" name="username" placeholder="Username" class="form-control">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Location Name</label>
                            <input type="text" name="name" placeholder="Location Name" class="form-control">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Image Url</label>
                            <input type="text" name="image" placeholder="Image Url" class="form-control">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Content</label>
                            <textarea name="content" placeholder="Content ..." cols="30" rows="20" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group my-4 text-center">
                        <button class="btn btn-primary">Create Location</button>
                    </div>
                </form>
            </div>
        </div>
    </div>