<%if (auth=='600c0f0fbc4b391f0135065e') { %>
    <div class="editPost">
        <a href="/new/FAQ/" ><i class="fa fa-plus"></i></a>
        <a href="/FAQ/update/" ><i class="fa fa-pencil-square-o"></i></a>
        <a href="/delete/FAQ/" onclick="return confirm('Are you sure you want to delete this post?');"><i class="fa fa-trash"></i></a>
    </div>
    <br><br>
<% } %>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s FAQ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="service-title pad-bt15">FAQ</h2>
                <hr class="bottom-line">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-content">
                    <div class="accordion">
                        <div class="card">
                            <% for(var i=0; i < faq.length; i++) { %>
                                <div class="card-header" id="infraOne">
                                    <a href="#collapseOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <p class="mb-0"><%- faq[i].question %></p>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="infraOne" data-parent="#accordion">
                                    <div class="card-body"><%- faq[i].content %></div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>